/* TYPOGRAPHY */

nav ul li {
	font-size: 1.75em;
	font-family: 'Rambla', sans-serif; 
}

nav ul li a {
	color: #96A195;
	text-decoration: none;
}


#phone, #email {
	font-size: 2em;
	font-family: 'Rambla', sans-serif;
	
	color: rgba(33,56,33,1);
}


/* LAYOUT */

* {
	margin: 0px; 
	padding: 0px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url("img/background/bg_test2_2048.png") no-repeat;
	background-position: 100% 10%;
	background-size: 140%;
}


nav {
	width: 100%;
	height: 20%;
	max-height: 85px;
	background: rgba(33,56,33,.5);
	display: block;
}

nav ul li {
	width: 17%;
	height: 85%;
	margin: 0px 2%;
	display: inline-block;
	overflow: hidden;
	top: 7.5%;
	
	/*background: rgba(128,202,118,.8);*/
}

nav ul li:last-child {
	width: 33%;
}

nav ul li a {
	width: 55%;
	height: 60%;
	display: block;
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 35%;
	text-align: center;
	
	/*background: rgba(220,20,60,0.3);*/
}


nav ul li:last-child a{
	width: 70%;
	left: 18.03%;  /* based on image width*/
}


nav ul li img {
	width: 35%;
	height: auto;
	max-width: 100%;
	display: block;
	margin:-17.5% 0px 0px;   /* 17.5% is about half the height b/c the thumbs are square */
	top: 50%;
	
	/*background: rgba(245,255,10,.7);*/
}

nav ul li:last-child img {
	width: 18.03%;
	margin: -9.015% 0px 0px;	
}


#home_center {
	width: 90%;
	height: 40%;
	position: relative;
	margin: 0 auto;
	top: 5%;
	
	/*background-color: rgba(88,230,10,0.8);*/
}

.home {
	width: 24.5%;
	height: 100%;
	display: inline-block;
	margin: 0 1% 0 2%;
	
	/*background-color: rgba(33,64,190,0.6);*/
}

.home:nth-child(2) {
	width: 40%;
}

.home p {
	height: 20%;
	margin: auto;
	position: absolute;
	top: 0; bottom: 0;
	text-align: center;
	
	background-color: rgba(120,120,120, 0.5);
}

.home img {
	height: auto;
	margin: auto;
	position: absolute;
	top: 0; bottom: 0;

	/*background-color: #AAA;*/
}

img {
	max-width: 100%;
}