/* TYPOGRAPHY */ 

h1 {
	font-family: 'Arvo', serif;
	font-size: 2.5em;
	font-weight: 400;
	color: rgb(33,56,33);
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1.7em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
}

section ul {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.3em;
}

h3 + ul {
	font-size: 1em;
}

footer ul {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	list-style: none;
}

#phone p {
	font-size: 2.2em;
	color: rgb(94,25,25);
	font-weight: 600;
	text-shadow: -1px 1px 2px rgba(255,255,255,0.8);
}

nav ul li a {	
	text-decoration: none;
	font-family: 'Arvo', serif;
	font-size: 1.5em;
	font-weight: 400;
	color: rgb(33,56,33);
}

#tagline {
	font-size: 1.3em;
	font-weight: 400;
	color: rgba(94,25,25,1);
}




/* LAYOUT */
* {
	margin: 0px; 
	padding: 0px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}


html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.center_wrapper {
	width: 90%;
	min-width: 630px;  /* 90% of 700px */
	max-width: 1296px;
	height: 100%;
	margin: 0 auto;
}

header {
	position: fixed;
	z-index: 100;
}

nav {
	width: 90%;
	height: 75px;
	min-width: 630px;  /* match .center_wrapper */
	max-width: 1296px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: rgba(190,199,190, 0.8);
}

nav ul {
	list-style: none;
	height: 100%;
}

nav ul li {
	display: inline-block;
	width: 21%;
	height: 100%;
	float: left;
	margin-left: 1%;
	padding: 7px 0 0;
}

nav ul li:nth-child(3) {
	width: 33%;
}

nav ul li img {
	display: inline-block;
	width: 60px;
}

nav ul li a {
	display: inline-block;
	width: auto;
	vertical-align: top;
	top: 30%;
	margin-left: 5px;
}

#menu-icon {
	display: none;
	text-decoration: none;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0;
	margin: 10px 10px 5px;
	background: url("img/icons/menu-red.png") no-repeat;
	background-size: contain;
}

#home {
	height: 100%;
	margin-bottom: 30px;
}

#home:before {   /* Trick for changing bground opacity from https://scotch.io/quick-tips/how-to-change-a-css-background-images-opacity */
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: url("img/background/bg_test2_2048.png") no-repeat;
 	background-size: 1300px;
 	background-position: 100% 0%;
 	opacity: 0.6;
}

#sidebar {
	width: 400px;
	top: 37%;
}

#logo {
	background: rgba(255,255,255,0.5);
}

#phone {
	/*width: 310px;*/
	width: auto;
	height: 60px;
	margin-top: 15px;
}

#phone img {
	height: 66%;
	width: auto;
	display: inline-block;
	top: 17%;
	margin-left: 18px;
}

#phone p {
	width: auto;
	display: inline-block;
}

#tagline {
	text-align: center;
	width: 250px;
	position: absolute;
	top: 105px;
	right: 340px;
	background: rgba(255,255,255,0.3);
	padding: 10px 5px;
}

#scroll_indicator {
	position: fixed;
	width: 35px;
	height: 25px;
	left: 0;
	right: 0;
	bottom: 2%;
	margin: 0 auto;
	background: url('img/icons/scroll_icon.png') no-repeat;
	background-size: 100%;
}	


section {
	width: 100%;
	/*margin-bottom: 60px;*/
	margin: 30px 0;
	background: white;
}

section:last-of-type {
	margin-bottom: 0px;
	padding-bottom: 60px;
}

section header {
	position: absolute;
	left: 0;
	margin: 0;
	z-index: 10;
	padding: 15px 10px 0;
}

section header img {
	height: 60px;
	width: auto;
	display: inline-block;
	margin: 0 10px 10px;
}

h1 {
	display: inline-block;
	width: auto;
	vertical-align: top;
}

.col {
	display: inline-block;
	vertical-align: top;
}

.col:nth-child(3) {  /* :before added to first .col is the 2nd child */
	margin-left: 5%;
}

.col.wide {
	width: 55%;
	min-height: 350px;   /* for background images in Lead and Mold */
}

.col.nrrw {
	width: 39%;
}

.col h2, h3 {
	margin: 20px 0 10px;
	text-align: center;
}

.col p {
	padding: 15px 12px 12px;
}	

.col p.blurb {
	position: absolute;
	bottom: 0px;
}

.col ul {
	list-style-position: inside;
	background: white;
}

.col ul li {
	margin-bottom: 10px;
}

#lead .wide:before {
	background: url('img/lead_section.jpg') top left / cover no-repeat;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
}

#mold .wide:before {
	background: url('img/mold_section.jpg') top left / cover no-repeat;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
}

.col:first-of-type h2, .col:first-of-type p:first-of-type {
	margin-top: 85px;    /* push content down from under section header */
}

header + p {   /* targets just the Healthy Homes p */
	display: inline-block;
	margin-top: 85px;
	padding: 0 10px; 
}

#contact {
	margin: 100px 0 40px;
}

#badges {
	width: 150%;
	margin-left: -50%;
	text-align: right;
}

#badges img {
	height: 100px;
	width: auto;
}

footer {
	background: rgba(190,199,190, 1);
}

footer ul {
	width: 200px;
	margin: 0 auto;
	padding: 10px 0;
	overflow: visible;
}

a.anchor {
	display: block;
	height: 0;
	top: -80px;  /* nav height + 5px buffer */
}

.section-break {
	height: 3px;
	width: 50%;
	margin: 0 auto;
	background: #CCC;
}


/* MEDIA QUERIES */

/* Resize nav icons and font to fit horizontally @ 880px, where it breaks */
@media only screen and (max-width: 880px) {
	nav {
		height: 60px;
	}
	nav ul li img {
		width: 43px;
	}
	nav ul li a {
		font-size: 1.25em;
	}
	a.anchor {
		top: -65px;   /* adjust to new nav height */
	}
}

/* Wrap #badges img's into one col */
@media only screen and (max-width: 780px) {
	
	#badges img {
		height: 80px;
	}
}

@media only screen and (min-width: 1040px) {
	#badges {
		width: 100%;
		margin-left: 0;
		text-align: left;
	}
}

/* Phones, portrait */ 
@media only screen and (max-width: 415px) and (orientation: portrait){
	h1 {
		font-size: 1.75em;
	}
	
	h2 {
		font-size: 1.4em;
	}
	

	body {
		overflow-x: hidden;
	}
	
	body::-webkit-scrollbar {
		display: none;
	}
	
	nav {
		width: 100%;
		min-width: 100%;
		height: 40px;
	}
	
	a.anchor {
		top: -30px;   /* adjust to new nav height */
	}
	
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		width: 75%;
		right: 0px;
	}
	
	nav ul li {
		width: 100%;
		height: auto;
		padding-left: 5px;
		border-bottom: 1px solid rgb(94,25,25);	
		/*background: rgba(200,200,200,1);*/
		background: rgba(190,199,190, 0.8);
	}
	
	nav ul li:nth-child(3) {
		width: 100%;
	}
	
	nav:hover ul {
		display: block;
	}
	
	#menu-icon {
		display: inline-block;
		z-index: 150;
	}
	
	.center_wrapper {
		width: 100%;
		margin: 0px;
		min-width: 100%;
	}
	
	#home:before {
		background-size: auto 110%;
		background-position: 78% 0%;
	}
	
	#sidebar{
		width: 92%;
		top: 15%;
	}
	
	#phone {
		width: auto;
		height: 1.8em;  /* match #phone p */
		margin-top: 9px;
	}
	
	#phone img {
		/* height, top, margin-left */
		height: 95%;
	}
	
	#phone p {
		font-size: 1.85em;
	}
	
	#tagline {
		font-size: 1.1em;
		position: relative;
		width: 70%;
		top: 40%;
		right: 0;
		margin: 0 auto;
	}
	
	#scroll_indicator {
		width: 25px;
		height: 20px;
	}
	
	section header {
		width: 100%;
	}
	
	section header img {
		height: 45px;
		margin: 0 10px 10px;
	}

	.col {
		min-height: 300px;
	}
	.col.wide, .col.nrrw {
		width: 100%;
		position: relative;
	}
	
	.col:nth-child(3) {  /* :before added to first .col is the 2nd child */
		margin-left: 0;
	}

	.col:first-of-type h2, .col:first-of-type p:first-of-type {
		margin-top: 65px;    /* push content down from under section header */
	}

	header + p {   /* targets just the Healthy Homes p */
		margin-top: 65px;
		padding: 0 10px; 
	}
	
	section ul {
		padding-left: 10px;
	}
	
	#badges {
		width: 115%;
		margin-left: -7.5%;
		text-align: center;
	}
	
	#badges img {
		height: 70px;
	}
	
	#contact {
		margin: 65px 0 40px;
	}
}	
	